PORT=3000
NODE_ENV=development

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=jusselthhabidchicar@gmail.com
SMTP_PASS=qkyhxhbaaqazhfhw
EMAIL_FROM=jusselthhabidchicar@gmail.com
ALERT_RECIPIENT_EMAIL=jusselthchro@unisabana.edu.co

# Supabase
SUPABASE_URL=https://izkalkrowmlungrrednl.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml6a2Fsa3Jvd21sdW5ncnJlZG5sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTExMTkyNzksImV4cCI6MjEwNjY5NTI3OX0.j4IWBsVZHUckTn1zoSC46AzulrKSu_4RR6eUVV4AXMs